@model HotelManagementSystem.WebUI.Models.ContactMessage

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/ManagementPanel/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card radius-15">
            <div class="card-body">
                <h4 class="card-title font-weight-bold">@Model.Subject</h4>
                <br />
                <h6 class="card-subtitle mb-2">@Html.Raw(Model.Message)</h6>
                <br />
                <hr />
                <h6 class="mb-0"><b>Ad Soyad: </b> @Model.FullName</h6>
                <h6 class="mb-0"><b>Telefon: </b> @Model.PhoneNumber</h6>
                <h6 class="mb-0"><b>Email: </b> @Model.Email</h6>
                <h6 class="mb-0"><b>Kayıt Tarihi: </b> @Model.RegisterDate.Value.ToString("dd MMMM yyyy")</h6>

            </div>
        </div>
    </div>
</div>
