<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div class="">
            <img src="~/Areas/ManagementPanel/Content/images/logo-icon.png" class="logo-icon-2" alt="" />
        </div>
        <div>
            <h4 class="logo-text">HMS</h4>
        </div>
        <a href="javascript:;" class="toggle-btn ml-auto">
            <i class="bx bx-menu"></i>
        </a>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">

        <li class="menu-label">Anasayfa</li>
        <li>
            <a href="@Url.Action("Index", "Dashboard")">
                <div class="parent-icon icon-color-2">
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="menu-title">Anasayfa</div>
            </a>
        </li>

        <li class="menu-label">Genel</li>
        <li>
            <a href="@Url.Action("Index", "Abouts")">
                <div class="parent-icon icon-color-3">
                    <i class="bx bx-conversation"></i>
                </div>
                <div class="menu-title">Hakkımızda</div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "FAQs")">
                <div class="parent-icon icon-color-12">
                    <i class="bx bx-question-mark"></i>
                </div>
                <div class="menu-title">SSS</div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "ContactMessages")">
                <div class="parent-icon icon-color-4">
                    <i class="bx bx-archive"></i>
                </div>
                <div class="menu-title">Gelen Kutusu</div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Contacts")">
                <div class="parent-icon icon-color-5">
                    <i class="bx bx-group"></i>
                </div>
                <div class="menu-title">İletişim</div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Users")">
                <div class="parent-icon icon-color-6">
                    <i class="bx bx-task"></i>
                </div>
                <div class="menu-title">Kullanıcılar</div>
            </a>
        </li>

        <li class="menu-label">Otel</li>
        <li>
            <a href="@Url.Action("Index", "Rooms")">
                <div class="parent-icon icon-color-7">
                    <i class="bx bx-door-open"></i>
                </div>
                <div class="menu-title">Odalar</div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Amenities")">
                <div class="parent-icon icon-color-11">
                    <i class="bx bx-area"></i>
                </div>
                <div class="menu-title">Hizmetler</div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Services")">
                <div class="parent-icon icon-color-10">
                    <i class="bx bx-server"></i>
                </div>
                <div class="menu-title">Servisler</div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Categories")">
                <div class="parent-icon icon-color-9">
                    <i class="bx bx-table"></i>
                </div>
                <div class="menu-title">Kategoriler</div>
            </a>
        </li> 

    </ul>
    <!--end navigation-->
</div>
